{%- if labels.severity == 'critical' -%}
{% set icon = ':fire:' %}
{%- elif labels.severity == 'warning' -%}
{% set icon = ':warning:' %}
{%- elif labels.severity == 'info' -%}
{% set icon = ':information_source:' %}
{%- endif -%}
{{ icon }} **{{ labels.origin }}** {{ icon }}
**{{ labels.alertname }} - {{ status | title }}**
```
{% for key, value in annotations.items() -%}
{{ key | title }}: {{ value }}
{% endfor -%}
```
